
@media screen and (max-width:1140px)
{
    #about ul
    {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    #about ul li a.text-2xl
    {
        font-size: 15px;
    }

    #about .mx-32
    {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media screen and (max-width:768px)
{
    .about
    {
        flex-direction: column;
    }

    .about .w-80
    {
        width: 80%;
    }
}

@media screen and (max-width:425px)
{
    .about div:first-child
    {
        margin-left: 25px;
        margin-right: 25px;
    }
}
