@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

.content {
    margin: 0 auto;
    max-width: 1700px !important;
}

/* @media screen and (min-width:1700px) {
    .menu .absolute:first-child {
        gap: 1350px;
        @apply w-auto
    }
} */
/*
.color {
    color: #bc883d;
}


nav ul li:hover {
    background-color: #bc883d;
}
 */


.secondary {
    background-image: linear-gradient(to bottom, #bc883d, #f5e47b, #bc883d);
}

.secondary_color,
.secondary_color_hover:hover {
    background-image: linear-gradient(to bottom, #bc883d, #f5e47b, #bc883d);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.link_hover:hover {
    background-image: linear-gradient(to bottom, #bc883d, #f5e47b, #bc883d);
    transition: ease-in 0.5s;
}


.border-b-1 {
    border: none;
    border-bottom: 1px solid white;
}

/*
.-translateX-280 {
    transform: translateX(-280px);
    transition: ease-in 0.4s;
}

.translateX-0 {
    transform: translateX(0px);
    transition: ease-in 0.4s;
}

.transition {
    transition: ease-in 0.9s;
}

.transition-20:hover {
    transition: ease-in 0.4s;
    background: white;
    color: black;
} */