@media screen and (max-width:1024px) {
    #game .licensing.px-32 {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media screen and (max-width:768px) {
    .links {
        font-size: 14px;
    }

    #game h2 {
        font-size: 25px;
    }

    #game .licensing.px-32 {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width:600px) {
    .pagination {
        flex-direction: column;
    }

    .width {
        width: 100%;
    }
}

@media screen and (max-width:425px) {
    #game .px-32 {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width:375px) {
    #game .arrow {
        display: none;
    }

    .games {
        padding-left: 25px;
        padding-right: 25px;
    }
}