@media screen and (max-width:768px) {
    .secondary_color.text-6xl {
        font-size: 30px;
    }

    .w-96 {
        width: 100px;
    }

    .mx-24 {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media screen and (max-width:425px) {
    .login {
        display: none;
    }

    header .px-14 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .menu .navbar.w-64 {
        width: 13rem;
    }

    .menu .navbar ul li a {
        font-size: 14px;
    }
}

@media screen and (max-width:375px) {
    .mx-24 {
        margin-left: 25px;
        margin-right: 25px;
    }
}